.welcome-bar {
    height: 75px;
    position: absolute;
    opacity: 0.4;
    --background: #07A374;
}

.welcome-text {
    margin-top: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #FFFFFF;
}

.user-name {
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}

.estate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;
}

.session {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;

}

.header-row {
    display: flex;
    align-items: center;
}

.finished {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    white-space: nowrap;
    text-align: center;
    color: #000000;
}

.card-body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    white-space: nowrap;
    text-align: center;
    color: #316094;
    display: flex;
    align-items: center;
}

.card2-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.card2-text.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;

    color: #000000;
}

.card-image {
    position: absolute;
    top: 30%;
    left: -15%;
    right: 0;
    bottom: 0;
}

.align-center {
    display: flex;
    align-items: center;
}

.header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.blue-container {
    padding: 5px;
    background: rgba(162, 197, 211, 0.25);
    border-radius: 16px;
}

.footer-image {
    
}