.toolbar {
    --background: #316094;
    --color: white;
}

.logo {

}

.nimbus {
    top: 6px;
    font-weight: 300;
    font-size: 24px;
    bottom: 1px;
    left: 6px;
    position: absolute;
    font-family: 'Helvetica Neue';
    line-height: 29px;
    color: #94C0F0;
}

.legacy {
    top: 10px;
    font-weight: 300;
    font-size: 16px;
    bottom: 7px;
    left: 92px;
    position: absolute;
    font-family: 'Helvetica Neue';
    line-height: 10px;
    color: #94C0F0;
}

.menu {
    --color: #94C0F0;
}

ion-content {
    --background: #f3f3f3;
}

.blue-box {
    position: absolute;
left: 0%;
right: 0%;
top: 54%;
bottom: 0%;

background: #316094;
}

.tree-icon {
    width: 120px;
    display: block;
    margin: auto;
}

.dashboard-card {
    position: absolute;
    z-index: 99;
    margin: auto;
    width: 90%;
    top: 0;
    height: 450px;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-title {
    font-family: 'Heuristica';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
/* or 100% */

text-align: center;
}

.card-text {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
margin-top: 25px;
margin-bottom: 25px;
}

.form {
    width: 95%; 
    margin-left: 5px;
}
.form ion-list {
    background: transparent;
}
.form ion-item {
    --background: transparent;
    border: none;
    --border: none;
    --border-style: none;
    margin-left: -15px;
    margin-right: -15px;

    padding: 0;
}

.form ion-item ion-input {
    --background: #ffffff;
    border-radius: 15px;
    border: none;
    --border: none;
}

.form ion-item ion-select {
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 5px;
    border: none;
    --border: none;
}


.form ion-label {
    overflow: initial;
    white-space: nowrap;
}

.page-break {

    font-family: 'Heuristica';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
}

.card-modal-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* or 182% */

    text-align: center;
}

.background {
    --background: #f3f3f3;
}

.welcome-bar {
    height: 75px;
    position: absolute;
    opacity: 0.4;
    --background: #07A374;
}

.welcome-text {
    margin-top: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #FFFFFF;
}

.user-name {
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}

.estate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;
}

.session {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;

}

.header-row {
    display: flex;
    align-items: center;
}

.finished {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    white-space: nowrap;
    text-align: center;
    color: #000000;
}

.card-body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */

    white-space: nowrap;
    text-align: center;
    color: #316094;
    display: flex;
    align-items: center;
}

.card2-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.card2-text.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;

    color: #000000;
}

.card-image {
    max-width: 55px;
    min-width: 55px;
}

.card-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.blue-container {
    padding: 5px;
    background: rgba(162, 197, 211, 0.25);
    border-radius: 16px;
}

.footer-image {
    
}